@font-face { font-family: 'YanLight'; src: url('fonts/YanoneKaffeesatz-Light-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'YanReg'; src: url('fonts/YanoneKaffeesatz-Regular-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'YanBold'; src: url('fonts/YanoneKaffeesatz-Bold-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'M1mlight'; src: url('fonts/mplus-1m-light-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'M1mregular'; src: url('fonts/mplus-1m-regular-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'M1mmedium'; src: url('fonts/mplus-1m-medium-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'M1mbold'; src: url('fonts/mplus-1m-bold-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }

