{% extends "default/index.html" %}

{% block header %}
<script type="text/Javascript" charset="utf-8">
    $(document).ready(function(){ 
        //bind the click
        $("#submit").click( function() { $("#loginform").submit() });
        var code = null;
        //bind the intro key
        $("#id_password").keypress(function(e){
                code = (e.keyCode ? e.keyCode : e.which); if (code == 13) $("#loginform").submit();
            });

    });
</script>
{% endblock header%}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form id="loginform" method="post" action="{% url django.contrib.auth.views.login %}">
    {% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
<tr>
    <td></td>
    <td> <a id="submit" href="#" class="sbttn" style="text-align:center;">Login</a> </td>
</tr>
</table>

{% if next %}
<input type="hidden" name="next" value="{{ next }}" />
{% else %}
<input type="hidden" name="next" value="/" />
{% endif %}
</form>

{% endblock %}

