body {
    font-family: TypoSlabserifLightRegular, sans-serif, Arial, Helvetica;
    font-size: 18px;
    background-color: #92CC47;
    color: #000000;
    margin: 0;
}
div.head {
    height: 105px;
    background-color: #ffffff;
    margin: 20px;
}
div.body {
    width: 100%
    float: left;
}
.clear {
    clear: both;
}
div.menu {
    width: 20%;
    margin-left: 20px;
    float: left;
}
div.content {
    width: 75%;
    margin-left: 10px;
    background-color: #ffffff;
    float: right;
    margin-right: 20px;
}
div.actualcontent {
    margin: 10px;
    float: left;
}
div.footer {
    color: #ffffff;
    width:: 100%;
    font-size: 75%;
    text-align: center;
}
div#pagination{
    float: left;
    margin-left: 10px;
    width: 100%;
}
ul {
    margin: 0pt;
    padding: 0pt;
}
li {
    list-style-type: none;
    /*font-weight: bold;*/
}
a:hover {
    color: #000000;
    text-decoration: underline;
}
a:visited {
    color: #000000;
    text-decoration: underline;
}
a {
    color: #000000;
    text-decoration: underline;
}
h4 {
    color: #ffffff;
}
.errorlist {
    color: #b90000;
}

@font-face {
    font-family: 'TypoSlabserifLightRegular';
    src: url('TypoSlabserif-Light-webfont.eot');
    src: url('TypoSlabserif-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('TypoSlabserif-Light-webfont.woff') format('woff'),
         url('TypoSlabserif-Light-webfont.ttf') format('truetype'),
         url('TypoSlabserif-Light-webfont.svg#TypoSlabserifLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}















